<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="DB" connectionString="Data Source=XIA-JJIANG-LT\SQLEXPRESS;Initial Catalog=DapperTest;User Id=sa;Password=Password1;Integrated Security=False;"/>
	</connectionStrings>
</configuration>